@charset "UTF-8";
/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    /* Paleta Principal */
    --black:#070709;
    --red:#AE1817;
    --white:#F6F5F1;
    /* Paleta Secundária */
    --dirtyWhite:#EEDEC5;
    --darkRed: #3A161D;
    --gold: #EF8323;
}

/* Fundo */
body{
    padding: 0;
    background-color: var(--black);
}

/*Navbar*/
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    height: 10%;
    width: 50%;
    border-radius:0px 0px 0px 34px;
    display: flex;
    justify-content: flex-end;
    background-color:var(--red);
}
.navbar_itens{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: flex-end;
    gap: 10%;
    padding-right: 5%;
    max-width: 100%;
}

.navbar_itens li{
    list-style-type: none;
    padding-left: 0;
}

.navbar_itens a{    
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--white);
    text-decoration: none;
}

.readme{
    margin: 5% 10% 10% 25%;
    display: flex;
    flex-direction: row;
}

.readme_graf{
    position: absolute;
    top: 0;      
    left: 0;
}
.readme_photo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.readme_img{
    position:absolute;
    height: 30rem;
    width: 30rem;
    z-index: 1;
}

.circulo{
    transform: translateY(-3rem);
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    background-color:var(--gold);
    z-index: 0;
}

.readme_text{
    color: var(--white);
}